h1 {
  font-weight: bold;
  font-size: 56px;
  color: #4717F6;
  font-weight: bold;
  text-align: center;
}

body {
  color: ;
  background-color: white !important;
  font-family: helvetica;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.quiz{
  max-width: 500px
}

p {
  display: none;
  font-weight: bold;
  font-size: 24px;
}

p:nth-of-type(1){
  display: block;
}

p span {
  display: block;
  text-align: center;
  padding: 10px;
  margin: 10px;
  border: 1px #A239CA solid;
}

p span:hover {
  cursor: pointer;
  background: #A239CA ;
}

em{
  bottom: 0px;
  left: 0px;
  font-size: 30px;
  padding: 10px 0px 20px 0px;
  width: 100%;
  background: white;
}

#final{
    display: none;
    color: #4717F6;
     font-size: 24px;
}

.nav-link{
    color:  #4717F6 !important;
}

.dropdown-menu{
  color: #A239CA !important;
}

.dropdown-item{
  color: #4717F6 !important;
}
.navbar-brand{
    color: #4717F6 !important;
}

.dropdown-menu { 
  background-color: white !important;
}

.return-home {
  text-align: center;
  color:#4717F6 ;
   font-size: 24px;
}

.footer{
  font-size: 10px;
  text-align: left;
}

.card-text{
  color: #4717F6;
  font-size: 16px;
}

.btn{
  color:  #4717F6!important;
  background-color: white !important;
  border: 1px solid #A239CA !important;
}

card{
  border-color: #A239CA !important;
}

.quiz-img{
  max-height: 50px;
  max-width: 100px:
}